body {
    background-image: url(../img/newyorkbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 100;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: 85vh;
    cursor: url('../favicon/pointer.cur'), pointer;
}

.header{
    width: 100%;
    height: 100px;
    background-color: rgb(22, 22, 22, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    z-index: 1;
    box-shadow: 0px 0px 20px rgb(69, 69, 69);
}

.imgheaddiv{
    width: 250px;
    height: 100px;
    /* box-shadow: 0px 0px 20px rgb(166, 166, 166); */ /* лишнее */
    position: relative;
    left: 130px;
    transition: 0.5s;
    cursor: url('../favicon/link.cur'), auto;
}

.imgheaddiv:hover{
    transform: scale(1.1);
}

.textheaddiv {
    width: 1400px;
    height: 100px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aboutus{
    text-decoration: none;
    font-size: 22.5px;
    text-align: center;
    color: rgb(255, 226, 146);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 1.6vh;
    position: relative;
    border-radius: 15.5%;
    width: 150px;
    height: 40px;
    top: -5px;
    font-family: 'Courier New';
    cursor: pointer;
    cursor: url('../favicon/link.cur'), auto;
}

#contact{
    text-decoration: none;
    font-size: 22.5px;
    text-align: center;
    color: rgb(255, 226, 146);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 1.6vh;
    position: relative;
    border-radius: 15.5%;
    width: 150px;
    height: 40px;
    top: -5px;
    font-family: 'Courier New';
    cursor: pointer;
    cursor: url('../favicon/link.cur'), auto;
}

#partner{
    text-decoration: none;
    font-size: 22.5px;
    text-align: center;
    color: rgb(255, 226, 146);
    padding-top: 1.6vh;
    position: relative;
    border-radius: 15.5%;
    width: 170px;
    height: 40px;
    font-family: 'Courier New';
    cursor: pointer;
    cursor: url('../favicon/link.cur'), auto;
}

#singinup{
    background: none;
    backdrop-filter: blur(60px);
    width: 200px;
    height: 50px;
    position: relative;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: 'Courier';
    border: 2px solid white;
    cursor: url('../favicon/link.cur'), auto;
    transition: 0.3s;
}

#singinup:hover{
    box-shadow: 0px 0px 8.35px white;
}

#txtprices{
    color: rgb(83, 83, 83);
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Courier New';
}

.imgpr{
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 0;
    top: 100px;
}


#prices{
    top: 300px;
    width: 100%;
    height: 466px;
    display: flex;
    justify-content: space-around;
}

.prices1,
.prices2,
.prices3,
.prices4{
    width: 400px;
    display: inline-block;
    height: 466px;
    background: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.479);
    box-shadow: 0px 0px 30px white;
    border-radius: 25px;
    transition: 0.2s;
    cursor: url(../favicon/link.cur), auto;
}

.prices1:hover,
.prices2:hover,
.prices3:hover,
.prices4:hover{
    transform: scale(1.05);
    transform-origin: 0 0;
    image-rendering: -webkit-optimize-contrast;
}

#txtprices1{
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    color: rgb(65, 65, 65);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#txtprices2{
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    color: rgb(65, 65, 65);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#txtprices3{
    font-size: 30px;
    font-family: 'Calibri';
    margin: 15px;
    padding: 0px;
    color: rgb(98, 125, 175);
    font-weight: bolder;
    position: relative;
}

.container {
    width: 1800px;
    height: 65vh;
    margin-top: 20vh;
    margin-left: 40px;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.644);
    backdrop-filter: blur(7px);
    display: inline-block;
    border-radius: 25px;
}

#infous{
    display: none;
    border: 2px solid white;
    width: 820px;
    height: 300px;
    position: relative;
    top: -450px;
    left: 54.7vh;
    background: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    z-index: 10;
    transform: (-50%, -50%);
    transition: top 1s ease;
    animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

#overlay {
    position: fixed; /* Позиционирование относительно вьюпорта */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
    z-index: 1; /* Убедитесь, что оверлей находится под модальным окном */
}

#textinfous{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Courier New';
}

#closewindow{
    text-decoration: none;
    font-size: 22.5px;
    text-align: center;
    color: rgb(255, 226, 146);
    border: none;
    background: none;
    padding-top: 1.6vh;
    position: relative;
    border-radius: 15.5%;
    left: 270px;
    width: 275px;
    height: 40px;
    font-family: 'Courier New';
    cursor: url('../favicon/link.cur'), auto;
}

.fire{
    width: 60px;
    top: -200px;
    left: 131px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .flame{
    bottom:0;
    position:absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform:rotate(-45deg) scale(1.5,1.5);
    border: none;
  }
  
  .yellow{
    left: 13px; 
    width: 7px;
    height: 9px;
    background:gold;
    box-shadow: 0px 0px 9px 4px gold;
    border: none;
  }
  
  .orange{
    left: 20px; 
    width: 7px;
    height: 10px;
    background:orange;
    box-shadow: 0px 0px 9px 4px orange;
    border: none;
  }
  
  .red{
    left: 10px;
    width: 7px;
    height: 8px;
    background:OrangeRed;
    box-shadow: 0px 0px 5px 4px OrangeRed;
    border: none;
  }
  
  .white{
    left:15px; 
    bottom:-4px;
    width: 7px;
    height: 8px;
    background:white;
    box-shadow: 0px 0px 9px 4px white;
    border: none;
  }
  
  .circle{
    border-radius: 50%;
    position:absolute;  
    border: none;
  }

  @keyframes flicker{
    0%   {transform: rotate(-1deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
  }

.fire1{
    width: 60px;
    top: -200px;
    left: 650px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.fire2{
    width: 60px;
    top: -130px;
    left: 597px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.fire3{
    width: 60px;
    top: -130px;
    left: 186px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.fire4{
    width: 60px;
    top: -58px;
    left: 78px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.fire5{
    width: 60px;
    top: -56px;
    left: 704.5px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#contactinfo{
    display: none;
    border: 2px solid white;
    width: 500px;
    height: 350px;
    position: relative;
    top: -490px;
    left: 70vh;
    background: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    z-index: 10;
    transform: (-50%, -50%);
    transition: top 1s ease;
    animation: slideDown 0.5s ease forwards;
}

#logo1{
    width: 60px;
    height: 60px;
    position: relative;
    margin: 30px;
    align-items: center;
    justify-content: space-between;
    outline: none;
    top: -15px;
    border-radius: 15px;
}

#denchik{
    font-family: 'Courier New';
    color: white;
    font-size: 20px;
    position: relative;
    left: 170px;
}

#alibi{
    font-family: 'Courier New';
    color: white;
    font-size: 20px;
    position: relative;
    top: -30px;
    left: 170px;
}

.tlg:hover{
  border-radius: 50%;
}

#heightsize{
    position: relative;
    top: -50px;
}

#social a, li{
    list-style-type: none;
    align-items: center;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100px;
    position: relative;
    top: 3px;
    cursor: url('../favicon/link.cur'), auto;
}

#linksoc1 a{
    cursor: url('../favicon/link.cur'), auto;
}

#closewindow1{
    text-decoration: none;
    font-size: 22.5px;
    text-align: center;
    color: rgb(255, 226, 146);
    border: none;
    background: none;
    padding-top: 1.6vh;
    position: relative;
    border-radius: 15.5%;
    left: 120px;
    width: 275px;
    top: -100px;
    height: 40px;
    font-family: 'Courier New';
    cursor: url('../favicon/link.cur'), auto;
}

#infoprice1{
    display: none;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(25px);
    width: 600px;
    height: 550px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 15px white;
    position: relative;
    text-align: center;
    top: -615px;
    left: 650px;
    z-index: 1001;
    animation: 0.8s slideDownPrice ease forwards;
}

@keyframes slideDownPrice {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

#titleprice1{
    font-family: 'Courier New';
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

#price{
    font-family: 'Courier New';
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    left: 260px;
    top: -110px;
}

#tableprice1{
    font-family: 'Courier New';
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    text-align: start;
    display: flex;
    flex-direction: column;
}

#feature{
    font-family: 'Courier New';
    color: rgb(255, 187, 0);
    font-size: 20px;
    font-weight: bolder;
    text-align: start;
    display: flex;
    width: 300px;
    cursor: url('../favicon/pointer.cur'), auto;
}

#useragree{
    font-family: 'Courier New';
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bolder;
    text-align: start;
    display: flex;
    width: 500px;
    cursor: url('../favicon/pointer.cur'), auto;
    position: relative;
    left: 60px;
    top: -60px;
}

#agreetext{
    position: relative;
    left: 30px;
    color: rgb(255, 255, 255);
}

#checkboxconfirm{
    width: 16px;
    cursor: url(../favicon/link.cur), auto;
}

#confirm{
    width: 330px;
    height: 50px;
    border-radius: 15px;
    outline: none;
    position: relative;
    top: -30px;
    font-family: 'Arial Black';
    font-size: 24px;
    border: none;
    background-color: rgb(76, 118, 255);
    color: rgb(255, 255, 255);
    cursor: url('../favicon/link.cur'), auto;
    transition: 0.3s;
}

#confirm:hover{
    box-shadow: 0px 0px 15px rgb(76, 118, 255);
}

#overlay2 {
    display: none; /* Изначально скрыт */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 1000; /* Убедитесь, что оверлей находится под nav */
}
#infoprice2{
    display: none;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(25px);
    width: 600px;
    height: 550px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 15px white;
    position: relative;
    text-align: center;
    top: -615px;
    left: 650px;
    z-index: 1002;
    animation: 0.8s slideDownPrice ease forwards;
}

#feature2{
    font-family: 'Courier New';
    color: rgb(255, 187, 0);
    font-size: 20px;
    font-weight: bolder;
    text-align: start;
    display: flex;
    width: 350px;
    cursor: url('../favicon/pointer.cur'), auto;
}

#price2{
    font-family: 'Courier New';
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    left: 280px;
    top: -130px;
}

#infoprice3{
    display: none;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(25px);
    width: 600px;
    height: 550px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 15px white;
    position: relative;
    text-align: center;
    top: -615px;
    left: 650px;
    z-index: 1003;
    animation: 0.8s slideDownPrice ease forwards;
}

#feature3{
    font-family: 'Courier New';
    color: rgb(255, 187, 0);
    font-size: 20px;
    font-weight: bolder;
    text-align: start;
    display: flex;
    width: 350px;
    cursor: url('../favicon/pointer.cur'), auto;
}

#price3{
    font-family: 'Courier New';
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    left: 280px;
    top: -130px;
}

#infoprice4{
    display: none;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(25px);
    width: 600px;
    height: 550px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 15px white;
    position: relative;
    text-align: center;
    top: -615px;
    left: 650px;
    z-index: 1004;
    animation: 0.8s slideDownPrice ease forwards;
}

#price4{
    font-family: 'Courier New';
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    left: 140px;
    top: -10px;
}